<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center !important;">
            <h4 class="modal-title" id="myModalLabel"><strong>Loading...</strong></h4>
            </div>
            <div class="modal-body">
                <div style="text-align: center"><%= image_tag "merchants/495.GIF", alt: "Page Loading..." %></div>
            </div>
    </div>
  </div>
</div>