<div class="modal fade" id="epubFileModal" tabindex="-1" role="dialog" aria-labelledby="epubFileModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload EPUB File</h4>
      </div>
      <div class="modal-body">
        <%= form_tag merchants_upload_epub_file_path, method: :post, class: "dropzone form", id: "epub-dropzone" do %>
          <div class="fallback">
            <%= file_field_tag "media", multiple: true %>
          </div>
        <% end %>
        <div id="upload-epub-error" style="margin-top: 10px;"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>