<!-- Home slideder-->
<div id="home-slider">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 slider-left"></div>
            <div class="col-sm-9 header-top-right">
                <div class="homeslider">
                    <div class="content-slide">
                        <ul id="contenhomeslider">
                          <li><%= image_tag 'data/slide.jpg', alt: 'MyBookshelf', title: 'First Slider' %></li>
                          <li><%= image_tag 'data/slide-2.jpg', alt: 'MyBookshelf', rootitle: 'Second Slider' %></li>
                          <li><%= image_tag 'data/slide.jpg', alt: 'MyBookshelf', title: 'Slider 1' %></li>
                        </ul>
                    </div>
                </div>
                <div class="header-banner banner-opacity">
                    <a href="#"><%= image_tag 'data/ads1.jpg', alt: 'MyBookshelf', title: 'Advertisement' %></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Home slideder-->