
<div class="page-title">
      <h2>Shopping Cart</h2>
</div>
<form action="" method="post" enctype="multipart/form-data">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <td class="text-center">Image</td>
                <td class="text-left">Product Title</td>
                <td class="text-left">Quantity</td>
                <td class="text-right">Price</td>
                <td class="text-right">Total</td>
              </tr>
            </thead>
            <tbody>
              <% if any_products_in_cart? %>
                 <% products_in_cart.each do|key, item| %>
                 <% product_item = Product.find(Base64.decode64(key).chomp.to_i) %>
                 <!-- Product Item -->
                 
                 <tr>
                    <td class="text-center">   
                      <%= link_to image_tag(product_item.products_image.image, class: "img-thumbnail", alt: capitalize_string(product_item.products_description.title), title: capitalize_string(product_item.products_description.title)), product_path(product_item.products_description.slug) %> 
                  </td>
                  <td class="text-left"><a href="http://polo.magikcommerce.com/index.php?route=product/product&amp;product_id=40" class="cart-title"><b>Fastrack Modern Wallet </b></a>
                </td>
                <td class="text-left"><div class="input-group" style="max-width: 200px;">
                      <span class="input-group-btn">
                        <button type="button" style="outline: 0" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                      </span>
                      <input type="text" name="quant[1]" size="4" style="height: 34px" class="form-control input-number" value="1" min="1" max="1000">
                      <span class="input-group-btn">
                          <button type="button" style="outline: 0;" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                              <span class="glyphicon glyphicon-plus"></span>
                          </button>
                      </span>
                    <span class="input-group-btn">
                    <button type="submit" data-toggle="tooltip" title="Update" class="button"><span class="fa fa-refresh"></span></button>
                    <button type="button" data-toggle="tooltip" title="Remove" class="button" onclick="cart.remove('YToxOntzOjEwOiJwcm9kdWN0X2lkIjtpOjQwO30=');"><span class="fa fa-times-circle"></span></button></span></div></td>
                <td class="text-right price">$123.20</td>
                <td class="text-right price">$123.20</td>
              </tr>
              <% end %>
            <% end %>
                            
          </tbody>
          </table>
        </div>
      </form>