<% provide(:title, "Signup as a merchant on MyBookshelf") %>
<% provide(:class_name, "category-page") %>
<!-- page wapper-->
<div class="columns-container">
    <div class="container" id="columns">
        <!-- breadcrumb -->
        <div class="breadcrumb clearfix">
            <%= link_to "Home", root_path, class: "home", title: "Return to Home" %>
            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page">Signup</span>
        </div>
        <!-- ./breadcrumb -->

        <!-- Stepped Navigation -->
             <ul class="nav nav-pills nav-wizard">
                <li class="active"><a href="javacript:void()" data-toggle="tab"><span class="nav-badge">1</span> Merchant Personal Details</a><div class="nav-arrow"></div></li>
                <li><div class="nav-wedge"></div><a href="javacript:void()" data-toggle="tab"><span class="nav-badge">2</span> Merchant Store Details</a><div class="nav-arrow"></div></li>
                <li><div class="nav-wedge"></div><a href="javacript:void()" data-toggle="tab"><span class="nav-badge">2</span> Verify Email</a><div class="nav-arrow"></div></li>
                <li><div class="nav-wedge"></div><a href="javacript:void()" data-toggle="tab"><span class="nav-badge">3</span> Complete Registration</a></li>
            </ul>
        <!-- End Stepped Navigation -->


        <div class="page-content">
            <div class="row">
                <div class="col-sm-8">
                      <%= render 'merchants/partials/' + current_step %>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ./page wapper-->

