<% provide(:title, "Sell on MYBOOKSHELF") %>
<% provide(:class_name, "information-information") %>
<% provide(:current_page, raw("<strong>Registration Completed!</strong>")) %>


<!-- Registration Form -->
<div class="main-container col2-right-layout">
  <div class="main container page-margin-bottom">

    <!-- Stepped Navigation -->
             <ul class="nav nav-pills nav-wizard stepped-navigation-bottom">
                <li class="active"><a href="javacript:void()"><span class="nav-badge">1</span> Merchant Personal Details</a><div class="nav-arrow"></div></li>
                <li class="active"><div class="nav-wedge"></div><a href="javacript:void()"><span class="nav-badge">2</span> Merchant Store Details</a><div class="nav-arrow"></div></li>
                <li class="active"><div class="nav-wedge"></div><a href="javacript:void()"><span class="nav-badge">3</span> Verify Email</a><div class="nav-arrow"></div></li>
                <li class="active"><div class="nav-wedge"></div><a href="javacript:void()"><span class="nav-badge">4</span> Complete Registration</a></li>
            </ul>
    <!-- End Stepped Navigation -->
  
    <div class="row">                
        <div id="content" class="col-sm-9 col-main">    
            <div class="page-title"><h2>Registration Completed!</h2></div>
              <p>Hi <%= @merchant_firstname %>, thank you for choosing MyBookshelf to sell your books. You have successfully completed the registration process and the opportunities here are limitless. Happy Selling!</p>
              <p>If you ever have any issues with your account please contact us on @company_profile.telephone or shoot us an email at <%= link_to @company_profile.email, "mailto:#{@company_profile.email}" %>. Thank you.</p>
              <p  class="add-margin-top"><%= link_to "Login", { controller: "sessions", action: "new" }, class: "button add-margin-top" %></p>
      </div>

     <%= render "merchants/shared/quick_links" %>
</div>
</div><!-- main container -->

<!-- End Registration Form -->