<!-- Categories Selection --> 
  <div>
        <div class="container">
                <div class="em-wrapper-area02">
                                            <div class="row hidden-xs">
                                                <div class="em-wrapper-banners">
                                                    <div class="col-sm-4 text-center">
                                                      <a class="banner-img" title="em-sample-title" href="#">
                                                        <div class="img-banner change-cursor">
                                                            <%= image_tag "site/categories/fiction.png", alt: "", class: "img-responsive retina-img" %> 
                                                            <div class="effect-line">&nbsp;</div>
                                                        </div>
                                                      </a>
                                                    </div>
                                                    <div class="col-sm-4 text-center">
                                                      <a class="banner-img change-cursor" title="em-sample-title" href="#">
                                                        <div class="img-banner change-cursor">
                                                             <%= image_tag "site/categories/religion.png", alt: "", class: "img-responsive retina-img" %> 
                                                            <div class="effect-line">&nbsp;</div>
                                                        </div>
                                                      </a>
                                                    </div>
                                                    <div class="col-sm-4  text-center">
                                                      <a class="banner-img" title="em-sample-title" href="google.com">
                                                        <div class="img-banner change-cursor">
                                                             <%= image_tag "site/categories/business.png", alt: "", class: "img-responsive retina-img" %> 
                                                            <div class="effect-line">&nbsp;</div>
                                                        </div>
                                                      </a>
                                                    </div>
                                                </div><!-- /.em-wrapper-banners -->
                                            </div>
            </div><!-- /.em-wrapper-area02 -->
    </div>
</div>
  <!-- End Categories Selection -->