<div class="page">
  <!-- Page Header -->
  <header class="header-container">

    <div class="header-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
              <p class="welcome-msg hidden-xs">Welcome visitor!</p>
             
          </div>
          <div class="col-xs-6">
            <div class="toplinks">
              <div class="links">
                
                <div class="myaccount">
                  <a href="#" title="My Account"><span class="hidden-xs">My Account</span></a>
                </div>

                <div class="wishlist"><a href="#" id="wishlist-total" title="Wish List (0)"><span class="hidden-xs">Wish List (0)</span></a>
                </div>

                <div class="check bold"><a href="<%= sell_path %>" title="Sell on MYBOOKSHELF"><span class="hidden-xs">Sell on MYBOOKSHELF</span></a></div> 

                <div class="login">    
                  <%= link_to raw('<span class="hidden-xs">Login</span>'), controller: "sessions", action: "new" %>                 
                  <!-- <a href="#"><span class="hidden-xs">Login</span></a> -->
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- header-top -->

    <div class="header container">
      <div class="row">
        <div class="col-lg-4 col-sm-3 col-md-2 add-margin-top">
      
          <%= link_to image_tag("site/logo.png", title: "MYBOOKSHELF", alt: "MYBOOKSHELF"), root_path, id: "base-url", title: "MYBOOKSHELF" %>
              
          
        </div>

        <div class="col-lg-8 col-sm-6 col-md-8">

          <div class="search-box">
            <select class="cate-dropdown hidden-xs" name="category_id">
              <option value="0">All Categories</option>
                            
                            <option value="20">Women</option>
              
                                                <option value="26">&nbsp;&nbsp;&nbsp;&nbsp;Stylish Bag</option>
                
                                                                  <option value="35">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Clutch Handbags</option> 
                                                                                        <option value="66">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Diaper Bags</option> 
                                                                                        <option value="71">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bags</option> 
                                                                                        <option value="72">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hobo handbags</option> 
                                            
                                               <option value="27">&nbsp;&nbsp;&nbsp;&nbsp;Material Bag</option>
                
                                                                  <option value="74">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Beaded Handbags</option> 
                                                                                        <option value="75">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fabric Handbags</option> 
                                                                                        <option value="77">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Handbags</option> 
                                                                                        <option value="79">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Leather Handbags</option> 
                                            
                                               <option value="59">&nbsp;&nbsp;&nbsp;&nbsp;Shoes</option>
                
                                                                  <option value="83">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Flat Shoes</option> 
                                                                                        <option value="87">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Flat Sandals</option> 
                                                                                        <option value="91">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Boots</option> 
                                                                                        <option value="95">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Heels</option> 
                                            
                                               <option value="61">&nbsp;&nbsp;&nbsp;&nbsp;Jwellery</option>
                
                                                                  <option value="99">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bracelets</option> 
                                                                                        <option value="102">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Necklaces &amp; Pendent</option> 
                                                                                        <option value="63">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pendants</option> 
                                                                                        <option value="106">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pins &amp; Brooches</option> 
                                            
                             
                            
                            <option value="18">Men</option>
              
                                                <option value="46">&nbsp;&nbsp;&nbsp;&nbsp;Shoes</option>
                
                                                                  <option value="70">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sport Shoes</option> 
                                                                                        <option value="73">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Casual Shoes</option> 
                                                                                        <option value="76">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Leather Shoes</option> 
                                                                                        <option value="78">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Canvas Shoes</option> 
                                            
                                               <option value="45">&nbsp;&nbsp;&nbsp;&nbsp;Dresses</option>
                
                                                                  <option value="80">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Casual Dresse</option> 
                                                                                        <option value="81">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Evening</option> 
                                                                                        <option value="82">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Designer</option> 
                                                                                        <option value="84">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Party</option> 
                                            
                                               <option value="65">&nbsp;&nbsp;&nbsp;&nbsp;Jackets</option>
                
                                                                  <option value="85">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coats</option> 
                                                                                        <option value="86">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Formal Jackets</option> 
                                                                                        <option value="88">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Leather Jackets</option> 
                                                                                        <option value="89">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Blazers</option> 
                                            
                                               <option value="67">&nbsp;&nbsp;&nbsp;&nbsp;Watches</option>
                
                                                                  <option value="90">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fasttrack</option> 
                                                                                        <option value="92">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Casio</option> 
                                                                                        <option value="93">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Titan</option> 
                                                                                        <option value="94">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tommy-Hilfiger</option> 
                                            
                                               <option value="68">&nbsp;&nbsp;&nbsp;&nbsp;Sunglasses</option>
                
                                                                  <option value="96">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ray Ban</option> 
                                                                                        <option value="97">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fasttrack</option> 
                                                                                        <option value="98">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Police</option> 
                                                                                        <option value="100">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Oakley</option> 
                                            
                             
                            
                            <option value="25">Electronics</option>
              
                                                <option value="107">&nbsp;&nbsp;&nbsp;&nbsp;Mobiles</option>
                
                                                                  <option value="109">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Samsung</option> 
                                                                                        <option value="111">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nokia</option> 
                                                                                        <option value="112">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IPhone</option> 
                                                                                        <option value="114">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sony</option> 
                                            
                                               <option value="29">&nbsp;&nbsp;&nbsp;&nbsp;Accesories</option>
                
                                                                  <option value="122">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mobile Memory Cards</option> 
                                                                                        <option value="124">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cases &amp; Covers</option> 
                                                                                        <option value="126">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mobile Headphones</option> 
                                                                                        <option value="128">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bluetooth Headsets</option> 
                                            
                                               <option value="28">&nbsp;&nbsp;&nbsp;&nbsp;Cameras</option>
                
                                                                  <option value="130">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Camcorders</option> 
                                                                                        <option value="132">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Point &amp; Shoot</option> 
                                                                                        <option value="133">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Digital SLR</option> 
                                                                                        <option value="135">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Camera Accesories</option> 
                                            
                                               <option value="30">&nbsp;&nbsp;&nbsp;&nbsp;Audio &amp; Video</option>
                
                                                                  <option value="137">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MP3 Players</option> 
                                                                                        <option value="138">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IPods</option> 
                                                                                        <option value="140">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Speakers</option> 
                                                                                        <option value="142">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Video Players</option> 
                                            
                                               <option value="31">&nbsp;&nbsp;&nbsp;&nbsp;Computer</option>
                
                                                                  <option value="144">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;External Hard Disk</option> 
                                                                                        <option value="145">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pendrives</option> 
                                                                                        <option value="147">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Headphones</option> 
                                                                                        <option value="149">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PC Components</option> 
                                            
                             
                            
                            <option value="57">Furniture</option>
              
                                                <option value="120">&nbsp;&nbsp;&nbsp;&nbsp;Living Room</option>
                
                                                                  <option value="121">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Racks &amp; Cabinets</option> 
                                                                                        <option value="123">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sofas</option> 
                                                                                        <option value="125">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chairs</option> 
                                                                                        <option value="127">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tables</option> 
                                            
                                               <option value="129">&nbsp;&nbsp;&nbsp;&nbsp;Dining &amp; Bar</option>
                
                                                                  <option value="131">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dining Table Sets</option> 
                                                                                        <option value="134">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Serving Trolleys</option> 
                                                                                        <option value="136">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bar Counters</option> 
                                                                                        <option value="139">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dining Cabinets</option> 
                                            
                                               <option value="141">&nbsp;&nbsp;&nbsp;&nbsp;Bedroom</option>
                
                                                                  <option value="143">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Beds</option> 
                                                                                        <option value="146">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chest of Drawers</option> 
                                                                                        <option value="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wardrobes &amp; Almirahs</option> 
                                                                                        <option value="150">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nightstands</option> 
                                            
                                               <option value="152">&nbsp;&nbsp;&nbsp;&nbsp;Kitchen</option>
                
                                                                  <option value="155">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kitchen Racks</option> 
                                                                                        <option value="156">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kitchen Fillings</option> 
                                                                                        <option value="158">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wall Units</option> 
                                                                                        <option value="159">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Benches &amp; Stools</option> 
                                            
                             
                            
                            <option value="17">Kids</option>
              
                              
                          </select>
            <input id="search_header" class="" type="text" name="search" maxlength="70" value="" placeholder="Search by Titles or Author">
            <button id="submit-button-search-header" class="search-btn-bg">
            <span>Search</span>
            </button>
          </div> <!-- search-box -->
        </div>

        <!-- <div class="col-lg-2 col-sm-3 col-md-2">
          <div class="top-cart-contain pull-right">
          <div class="mini-cart">
          <div id="cart">

  <div class="header basket dropdown-toggle">

   <a href="index630e.html?route=checkout/cart">
    <i class="glyphicon glyphicon-shopping-cart"></i>
    <span class="title">Cart</span>
    <span id="cart-total">0 item</span></a>
  </div>


  <ul class="dropdown-menu pull-right top-cart-content arrow_box">
   
        <li>
      <p class="text-center">Your shopping cart is empty!</p>
    </li>
      </ul>
</div>
          </div>
          <div style="display:none" id="ajaxconfig_info"><a href="#/"></a>
          <input type="hidden" value="">
          <input type="hidden" value="1" id="enable_module">
          <input type="hidden" value="1" class="effect_to_cart">
          <input type="hidden" value="Go to shopping cart" class="title_shopping_cart">
          </div>
          </div>
        </div>

      </div> -->
    </div><!-- header container -->

  </header><!-- header-container -->