
function getURLVar(key) {
	var value = [];

	var query = String(document.location).split('?');

	if (query[1]) {
		var part = query[1].split('&');

		for (i = 0; i < part.length; i++) {
			var data = part[i].split('=');

			if (data[0] && data[1]) {
				value[data[0]] = data[1];
			}
		}

		if (value[key]) {
			return value[key];
		} else {
			return '';
		}
	}
}

function callQuickView(qurl) { 

     $('#mgkquickview').show();
     $('#magikloading').show();
    $.get(qurl, function(data) {
      $.fancybox(data);
      $('#magikloading').hide();
      $('#mgkquickview').hide();
    });
}

$(document).ready(function() {
	
	//load slick 
	$('.single-item').slick(
		{
		    dots: true,
		    autoplay: true,
		    autoplaySpeed: 5000
		});

	// tool tips
	$("span[rel='tooltip']").tooltipster();

	//product review
	$("#button-review").on('click', function(){
		var form = $("#product-review-form")
        $("#button-review").html("Please wait...");
        setTimeout(function(){
           form.submit();
        }, 1000);
	});

	//
	$('ul.nav li.dropdown').hover(function() {
      $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);
    }, function() {
      $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);
    });

    //increment qty value 
    $('.btn-number').click(function(e){
		    e.preventDefault();
		    
		    fieldName = $(this).attr('data-field');
		    type      = $(this).attr('data-type');
		    var input = $("input[name='"+fieldName+"']");
		    var currentVal = parseInt(input.val());
		    if (!isNaN(currentVal)) {
		        if(type == 'minus') {
		            
		            if(currentVal > input.attr('min')) {
		                input.val(currentVal - 1).change();
		            } 
		            if(parseInt(input.val()) == input.attr('min')) {
		                $(this).attr('disabled', true);
		            }

		        } else if(type == 'plus') {

		            if(currentVal < input.attr('max')) {
		                input.val(currentVal + 1).change();
		            }
		            if(parseInt(input.val()) == input.attr('max')) {
		                $(this).attr('disabled', true);
		            }

		        }
		    } else {
		        input.val(0);
		    }
		});
		$('.input-number').focusin(function(){
		   $(this).data('oldValue', $(this).val());
		});
		$('.input-number').change(function() {
		    
		    minValue =  parseInt($(this).attr('min'));
		    maxValue =  parseInt($(this).attr('max'));
		    valueCurrent = parseInt($(this).val());
		    
		    name = $(this).attr('name');
		    if(valueCurrent >= minValue) {
		        $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
		    } else {
		        alert('Sorry, the minimum value was reached');
		        $(this).val($(this).data('oldValue'));
		    }
		    if(valueCurrent <= maxValue) {
		        $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
		    } else {
		        alert('Sorry, the maximum value was reached');
		        $(this).val($(this).data('oldValue'));
		    }
		    
		    
		});
		$(".input-number").keydown(function (e) {
		        // Allow: backspace, delete, tab, escape, enter and .
		        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
		             // Allow: Ctrl+A
		            (e.keyCode == 65 && e.ctrlKey === true) || 
		             // Allow: home, end, left, right
		            (e.keyCode >= 35 && e.keyCode <= 39)) {
		                 // let it happen, don't do anything
		                 return;
		        }
		        // Ensure that it is a number and stop the keypress
		        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
		            e.preventDefault();
		        }
		    });

	//product type selector
	$("#input-option226").change(function(){
		var activeOption = $("#input-option226 option:selected").text();
		var availableStock = $("#get-product-availablity").val();
        var availableStockElements = '<p class="availability in-stock">Availability:<span>' + availableStock + '</span></p>';
        var qtyElements = '<label class="control-label" for="input-quantity">Qty</label>\
			                  <div class="pull-left">\
			                    <div class="custom pull-left">\
			                        <button class="increase items-count" onclick="var result = document.getElementById(\'qty\'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;" type="button">\
			                        <i class="icon-plus"> </i>\
			                        </button>\
			                        <input type="text" name="quantity" value="1" size="2" id="qty" class="input-text qty" maxlength="12"/>\
			                        <button class="reduced items-count" onclick="var result = document.getElementById(\'qty\'); var qty = result.value; if( !isNaN( qty ) && qty > 0 ) result.value--;return false;" type="button">\
			                        <i class="icon-minus"> </i>\
			                        </button>\
			                        <input type="hidden" name="product_id" value="30" />\
			                    </div>\
			                    </div> ';

		//add available stocks and quantity
        if(activeOption == "Print Book")
        {
        	$("#availability-holder").html(availableStockElements);
        	$("#product-qty-holder").html(qtyElements);
        }
        else
        {
           $("#availability-holder").html("");
        	$("#product-qty-holder").html("");
        }
	});
	

	// Adding the clear Fix
	cols1 = $('#column-right, #column-left').length;
	
	if (cols1 == 2) {
		$('#content .product-layout:nth-child(2n+2)').after('<div class="clearfix visible-md visible-sm"></div>');
	} else if (cols1 == 1) {
		$('#content .product-layout:nth-child(3n+3)').after('<div class="clearfix visible-lg"></div>');
	} else {
		$('#content .product-layout:nth-child(4n+4)').after('<div class="clearfix"></div>');
	}
	
	// Highlight any found errors
	$('.text-danger').each(function() {
		var element = $(this).parent().parent();
		
		if (element.hasClass('form-group')) {
			element.addClass('has-error');
		}
	});
		
	// Currency
	$('#currency .currency-select').on('click', function(e) {
		e.preventDefault();

		$('#currency input[name=\'code\']').attr('value', $(this).attr('name'));

		$('#currency').submit();
	});

	// Language
	$('#language ul a').on('click', function(e) {
		e.preventDefault();

		$('#language input[name=\'code\']').attr('value', $(this).attr('href'));

		$('#language').submit();
	});

	/* Search */
	// $('input[name=\'search\']').parent().find('#search-b2').on('click', function() {
	// 	url = $('base').attr('href') + 'index.php?route=product/search';

	// 	var value = $('input[name=\'search\']').val();

	// 	if (value) {
	// 		url += '&search=' + encodeURIComponent(value);
	// 	}

	// 	location = url;
	// });

	// $('input[name=\'search\']').on('keydown', function(e) {
	// 	if (e.keyCode == 13) {
	// 		$('input[name=\'search\']').parent().find('#search-b2').trigger('click');
	// 	}
	// });

	/*search for header*/

	$('input[name=\'search\']').parent().find('#submit-button-search-header').on('click', function() {
	url = $('base').attr('href') + 'index.php?route=product/search';

	var value = $('input[name=\'search\']').val();

	if (value) {
	url += '&search=' + encodeURIComponent(value);
	}

	var category_id = $('.header select[name=\'category_id\']').val();
	if (category_id > 0) {
	url += '&category_id=' + encodeURIComponent(category_id);
	}

	location = url;
	});

	$('input[name=\'search\']').on('keydown', function(e) {
	if (e.keyCode == 13) {
	$('input[name=\'search\']').parent().find('#submit-button-search-header').trigger('click');
	}
	});


	// Menu
	$('#menu .dropdown-menu').each(function() {
		var menu = $('#menu').offset();
		var dropdown = $(this).parent().offset();

		var i = (dropdown.left + $(this).outerWidth()) - (menu.left + $('#menu').outerWidth());

		if (i > 0) {
			$(this).css('margin-left', '-' + (i + 5) + 'px');
		}
	});

	// Product List
	$('#list-view').click(function() {
		$('#content .product-layout > .clearfix').remove();

		//$('#content .product-layout').attr('class', 'product-layout product-list col-xs-12');
		$('#content .row > .product-layout').attr('class', 'product-layout product-list col-xs-12');
		
		localStorage.setItem('display', 'list');
	});

	// Product Grid
	$('#grid-view').click(function() {
		$('#content .product-layout > .clearfix').remove();

		// What a shame bootstrap does not take into account dynamically loaded columns
		cols = $('#column-right, #column-left').length;

		if (cols == 2) {
			$('#content .product-layout').attr('class', 'product-layout product-grid col-lg-6 col-md-6 col-sm-12 col-xs-12');
		} else if (cols == 1) {
			$('#content .product-layout').attr('class', 'product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12');
		} else {
			$('#content .product-layout').attr('class', 'product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12');
		}

		 localStorage.setItem('display', 'grid');
	});

	if (localStorage.getItem('display') == 'list') {
		$('#list-view').trigger('click');
	} else {
		$('#grid-view').trigger('click');
	}

	// tooltips on hover
	$('[data-toggle=\'tooltip\']').tooltip({container: 'body'});

	// Makes tooltips work on ajax generated content
	$(document).ajaxStop(function() {
		$('[data-toggle=\'tooltip\']').tooltip({container: 'body'});
	});
});

var voucher = {
	'add': function() {

	},
	'remove': function(key) {
		$.ajax({
			url: 'index.php?route=checkout/cart/remove',
			type: 'post',
			data: 'key=' + key,
			dataType: 'json',
			beforeSend: function() {
				$('#cart > button').button('loading');
			},
			complete: function() {
				$('#cart > button').button('reset');
			},
			success: function(json) {
				// Need to set timeout otherwise it wont update the total
				setTimeout(function () {
					var myarr = [];
					     var myarr = json['total'].split("-");
					     //'<span id="cart-total">' + myarr['0'] + '</span>'
					$('#cart .header > a > span:last-child').text(myarr['0']);
				}, 100);

				if (getURLVar('route') == 'checkout/cart' || getURLVar('route') == 'checkout/checkout') {
					location = 'index630e.html?route=checkout/cart';
				} else {
					$('#cart > ul').load('index1e1c.html?route=common/cart/info%20ul%20li');
				}
			}
		});
	}
}

var wishlist = {
	'add': function(product_id) {
		$.ajax({
			url: 'index.php?route=account/wishlist/add',
			type: 'post',
			data: 'product_id=' + product_id,
			dataType: 'json',
			success: function(json) {
				$('.alert').remove();

				if (json['success']) {
					$('#content').parent().before('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}

				if (json['info']) {
					$('#content').parent().before('<div class="alert alert-info"><i class="fa fa-info-circle"></i> ' + json['info'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}

				$('#wishlist-total').html(json['total']);

				$('html, body').animate({ scrollTop: 0 }, 'slow');
			}
		});
	},
	'remove': function() {

	}
}

var compare = {
	'add': function(product_id) {
		$.ajax({
			url: 'index.php?route=product/compare/add',
			type: 'post',
			data: 'product_id=' + product_id,
			dataType: 'json',
			success: function(json) {
				$('.alert').remove();

				if (json['success']) {
					$('#content').parent().before('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

					$('#compare-total').html(json['total']);

					$('html, body').animate({ scrollTop: 0 }, 'slow');
				}
			}
		});
	},
	'remove': function() {

	}
}

/* Agree to Terms */
$(document).delegate('.agree', 'click', function(e) {
	e.preventDefault();

	$('#modal-agree').remove();

	var element = this;

	$.ajax({
		url: $(element).attr('href'),
		type: 'get',
		dataType: 'html',
		success: function(data) {
			html  = '<div id="modal-agree" class="modal">';
			html += '  <div class="modal-dialog">';
			html += '    <div class="modal-content">';
			html += '      <div class="modal-header">';
			html += '        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>';
			html += '        <h4 class="modal-title">' + $(element).text() + '</h4>';
			html += '      </div>';
			html += '      <div class="modal-body">' + data + '</div>';
			html += '    </div';
			html += '  </div>';
			html += '</div>';

			$('body').append(html);

			$('#modal-agree').modal('show');
		}
	});
});

// Autocomplete */
(function($) {
	$.fn.autocomplete = function(option) {
		return this.each(function() {
			this.timer = null;
			this.items = new Array();
	
			$.extend(this, option);
	
			$(this).attr('autocomplete', 'off');
			
			// Focus
			$(this).on('focus', function() {
				this.request();
			});
			
			// Blur
			$(this).on('blur', function() {
				setTimeout(function(object) {
					object.hide();
				}, 200, this);				
			});
			
			// Keydown
			$(this).on('keydown', function(event) {
				switch(event.keyCode) {
					case 27: // escape
						this.hide();
						break;
					default:
						this.request();
						break;
				}				
			});
			
			// Click
			this.click = function(event) {
				event.preventDefault();
	
				value = $(event.target).parent().attr('data-value');
	
				if (value && this.items[value]) {
					this.select(this.items[value]);
				}
			}
			
			// Show
			this.show = function() {
				var pos = $(this).position();
	
				$(this).siblings('ul.dropdown-menu').css({
					top: pos.top + $(this).outerHeight(),
					left: pos.left
				});
	
				$(this).siblings('ul.dropdown-menu').show();
			}
			
			// Hide
			this.hide = function() {
				$(this).siblings('ul.dropdown-menu').hide();
			}		
			
			// Request
			this.request = function() {
				clearTimeout(this.timer);
		
				this.timer = setTimeout(function(object) {
					object.source($(object).val(), $.proxy(object.response, object));
				}, 200, this);
			}
			
			// Response
			this.response = function(json) {
				html = '';
	
				if (json.length) {
					for (i = 0; i < json.length; i++) {
						this.items[json[i]['value']] = json[i];
					}
	
					for (i = 0; i < json.length; i++) {
						if (!json[i]['category']) {
							html += '<li data-value="' + json[i]['value'] + '"><a href="#">' + json[i]['label'] + '</a></li>';
						}
					}
	
					// Get all the ones with a categories
					var category = new Array();
	
					for (i = 0; i < json.length; i++) {
						if (json[i]['category']) {
							if (!category[json[i]['category']]) {
								category[json[i]['category']] = new Array();
								category[json[i]['category']]['name'] = json[i]['category'];
								category[json[i]['category']]['item'] = new Array();
							}
	
							category[json[i]['category']]['item'].push(json[i]);
						}
					}
	
					for (i in category) {
						html += '<li class="dropdown-header">' + category[i]['name'] + '</li>';
	
						for (j = 0; j < category[i]['item'].length; j++) {
							html += '<li data-value="' + category[i]['item'][j]['value'] + '"><a href="#">&nbsp;&nbsp;&nbsp;' + category[i]['item'][j]['label'] + '</a></li>';
						}
					}
				}
	
				if (html) {
					this.show();
				} else {
					this.hide();
				}
	
				$(this).siblings('ul.dropdown-menu').html(html);
			}
			
			$(this).after('<ul class="dropdown-menu"></ul>');
			$(this).siblings('ul.dropdown-menu').delegate('a', 'click', $.proxy(this.click, this));	
			
		});
	}
})(window.jQuery);

/** Cart Processing Section **/
var cart = {
	'getUrl' : function(productType)
	{
		var url;
		switch(productType)
		{
           case "print_book":
              url = '/cart/add-book';
           break;

           case "ebook":
              url = '/cart/add-ebook';
           break;
		}

		return url;
	},
	'addCart' : function(productType, productId, quantity)
	{
	   var qtyId = $("#qty");
	   if(qtyId.length > 0)
	   	  quantity = qtyId.val();

       $.ajax({
       	   url: cart.getUrl(productType),
       	   type: 'POST',
       	   data: { 'cart_data' : { product_id: productId, quantity: quantity } },
       	   dataType: 'json',
       	   success: function(data, textStatus, jqXHR)
       	   {
               var jsonData = $.parseJSON(data.message);
               if(jsonData.success)
               {
                   var n = noty({text: '<i class="fa fa-check-circle"></i> ' + jsonData.success,
	                  theme: 'relax',
	                  type: 'success',
	                  dismissQueue: true,
	                  timeout: 4000,
	                  animation: {
                            open : 'animated bounceInRight',
                            close : 'animated bounceOutRight'
	                  }
	              });
                  
                  //append cart total
                  $("#cart-total").html(jsonData.total);
                  //populate products cart
                  $("#shopping-cart-items-holder").load('/cart/load-cart');
               }
               else
               {
               	   bootbox.alert(jsonData.error, function(result){ return; });
               }
       	   },
       	   error: function(jqXHR, textStatus, errorThrown)
       	   {
              console.log("Error in jqXHR: " + jqXHR);
              console.log("Error in textStatus: " + textStatus);
              console.log("Error Thrown: " + errorThrown);
       	   }
       });
	},
	'addSingleProduct' : function(productId, quantity)
	{
        var activeOption = $("#input-option226 option:selected").text();
        var optionSelected = activeOption;
       
	       if(optionSelected == " --- Please Select --- ")
	       {
	          bootbox.alert("Please select the product option you wish to buy!", function(result){
	          	return;
	          });
	       }
	       else
	       {
	       	  var qtyId = $("#qty");
			  if(qtyId.length > 0)
			   	  quantity = qtyId.val();
			   	
	          $.ajax({
	       	   url: '/cart/add-product',
	       	   type: 'POST',
	       	   data: { 'cart_data' : { product_id: productId, selected_option: optionSelected, quantity: quantity } },
	       	   dataType: 'json',
	       	   success: function(data, textStatus, jqXHR)
	       	   {
	               var jsonData = $.parseJSON(data.message);
	               if(jsonData.success)
	               {
	               	   $("#chooseProductModal").modal('hide');
	                   var n = noty({text: '<i class="fa fa-check-circle"></i> ' + jsonData.success,
		                  theme: 'relax',
		                  type: 'success',
		                  dismissQueue: true,
		                  timeout: 4000,
		                  animation: {
	                            open : 'animated bounceInRight',
	                            close : 'animated bounceOutRight'
		                  }
		              });
	                  
	                  //append cart total
	                  $("#cart-total").html(jsonData.total);
	                  //populate products cart
	                  $("#shopping-cart-items-holder").load('/cart/load-cart');
	               }
	               else
	               {
	               	   if($("#error-holder").length > 0)
	                      $("#error-holder").addClass("text-danger").css('margin-bottom', '10px').html(jsonData.error);
	                   else
	                   {
                          bootbox.alert(jsonData.error, function(result) { return; });
	                   }
	               }
	       	   },
	       	   error: function(jqXHR, textStatus, errorThrown)
	       	   {
	              console.log("Error in jqXHR: " + jqXHR);
	              console.log("Error in textStatus: " + textStatus);
	              console.log("Error Thrown: " + errorThrown);
	       	   }
	       });
	       }
	},
	'addProduct' : function(quantity)
	{
       var productId = $("#modal-product-id").val();
       var optionSelected = $('input:radio[name=select_product]:checked').val();
       
       if(optionSelected == "" || typeof(optionSelected) == "undefined")
       {
          $("#error-holder").addClass("text-danger").css('margin-bottom', '10px').html("Error: Please select the type you want to purchase!");
       }
       else
       {
          $.ajax({
       	   url: '/cart/add-product',
       	   type: 'POST',
       	   data: { 'cart_data' : { product_id: productId, selected_option: optionSelected, quantity: quantity } },
       	   dataType: 'json',
       	   success: function(data, textStatus, jqXHR)
       	   {
               var jsonData = $.parseJSON(data.message);
               if(jsonData.success)
               {
               	   $("#chooseProductModal").modal('hide');
                   var n = noty({text: '<i class="fa fa-check-circle"></i> ' + jsonData.success,
	                  theme: 'relax',
	                  type: 'success',
	                  dismissQueue: true,
	                  timeout: 4000,
	                  animation: {
                            open : 'animated bounceInRight',
                            close : 'animated bounceOutRight'
	                  }
	              });
                  
                  //append cart total
                  $("#cart-total").html(jsonData.total);
                  //populate products cart
                  $("#shopping-cart-items-holder").load('/cart/load-cart');
               }
               else
               {
                   $("#error-holder").addClass("text-danger").css('margin-bottom', '10px').html(jsonData.error);
               }
       	   },
       	   error: function(jqXHR, textStatus, errorThrown)
       	   {
              console.log("Error in jqXHR: " + jqXHR);
              console.log("Error in textStatus: " + textStatus);
              console.log("Error Thrown: " + errorThrown);
       	   }
       });
       } 
	},
	'chooseProduct' : function(productId, productName)
	{
		cart.resetSelection();
		$("#chooseProductModal").modal({backdrop: 'static', keyboard: false});
		$("#product-title").html("<strong>" + productName + "</strong>");
		$("#modal-product-id").val(productId);
	},
	'resetSelection' : function()
	{
		$('input[name="select_product"]').prop('checked', false);
		$('#error-holder').removeClass('text-danger').css('margin-bottom', '0px').html('');
	},
	'removeCartItem' : function(productId, productType)
	{
	   var loader = "<img src='<%= asset_path 'site/cart-loading.gif' %>' />";
       $.ajax({
       	  url: "/cart/delete-item",
       	  type: "POST",
       	  data: { 'cart_data' : { product_id: productId, product_type: productType } },
       	  dataType: "json",
       	  beforeSend: function()
       	  {
             $("#shopping-cart-items-holder").html('<div class="text-center cart-img-loader">' + loader + '</div>');
       	  },
       	  success: function(data, textStatus, jqXHR)
       	  {
             var jsonData = $.parseJSON(data.message);
             if(jsonData.status)
             {
                //append cart total
                $("#cart-total").html(jsonData.total);
                //populate products cart
                $("#shopping-cart-items-holder").load('/cart/load-cart');
             }
             else
             {
                bootbox.alert("Unable to delete item, please try again", function(result){ return; });
             }
       	  },
       	  error: function(jqXHR, textStatus, errorThrown)
       	   {
              console.log("Error in jqXHR: " + jqXHR);
              console.log("Error in textStatus: " + textStatus);
              console.log("Error Thrown: " + errorThrown);
       	   }
       });
	}
};