/**
 * Created by Megafu Charles 04/11/2015
 */

$(document).ready(function() {
	var siteDomain = $("#domain-name").val();
	var pageLoadingDiv = "#loadingModal";
   $('.sell-a-book, .sell-a-book-link').on('click', function()
   	{
   		$(pageLoadingDiv).modal({backdrop: 'static', keyboard: false});
   		setTimeout(function () {
				     window.location.href = siteDomain + '/merchants/sell';
				 }, 2000); // in milliseconds
   	});

   //Preloader for sub-categories
   $("#categories").change(function()
   	{
         var form = $("#categories-form");
         
         //reset next step button holder
         $("#step-1-completed-holder").html("");
         $("#continue-btn-holder").html("");

         //set active category type
         $("#category-type").val("main-category");

         var element = '<div style="text-align: center; margin-top: 5px;"><%= image_tag "merchants/495.GIF" %></div>';
         $("#sub-categories-holder").html(element);
         var categoryDetailsElementsHolder = $("#category-details");
         var categoryDetailsElement = '<div class="row">\
                                             <div class="col-md-12"> <!-- .breadcrumb -->\
                                                <div class="breadcrumb">\
                                                    <p>You have selected your book details</p>\
                                                    <p id="selected-category"></p>\
                                              </div>\
                                          </div>\
                                      </div>';
         categoryDetailsElementsHolder.html(categoryDetailsElement);
         $("#selected-category").html("<strong>" + $(this).find('option:selected').text() + "</strong>");

         setTimeout(function () {
                 form.submit();
             }, 1000); // in milliseconds
   	});

});

var MyBookshelfUtil = {};
MyBookshelfUtil.openCoverImageModal = function(){
   var coverImageModalDiv = $('#coverImageModal');
   $(coverImageModalDiv).modal({backdrop: 'static', keyboard: false});
};

MyBookshelfUtil.openEpubFileModal = function(){
   var epubFileModalDiv = $('#epubFileModal');
   $(epubFileModalDiv).modal({backdrop: 'static', keyboard: false});
   $(".dz-message").html("Click here to start uploading EPUB file");
};

MyBookshelfUtil.populateEbookSection = function(element)
{
   var val = $(element).find('option:selected').text();
   var ebookSection = $('#ebook-section');
   var elements = '<div class="line line-dashed b-b line-lg pull-in"></div>\
                   <div class="form-group">\
                    <label class="col-sm-2 control-label" for="book_description_protect_book">Wish to protect this book? <span class="compulsory">*</span></label>\
                    <div class="col-sm-10">\
                        <div class="radio">\
                            <label>\
                                <input id="protect-book" type="radio" value="1" name="book_description[protect_book]"> Yes</label>\
                        </div>\
                        <div class="radio">\
                            <label>\
                                <input id="protect-book" type="radio" value="0" name="book_description[protect_book]"> No</label>\
                        </div>\
                    </div>\
                </div>\
                <div class="line line-dashed b-b line-lg pull-in"></div>\
                <div class="form-group">\
                    <label class="col-sm-2 control-label"><strong>Upload EPUB File <span class="compulsory">*</span> <a href="javascript:void(0)" id="tooltip-epub" title="Please note: Our platform only supports EPUB file." class="tooltipstered">[?]</a></strong></label>\
                    <div class="col-sm-10">\
                        <div id="upload-epub-file-holder" class="dropfile visible-lg" style="cursor: pointer" onClick="MyBookshelfUtil.openEpubFileModal();"> <small>Click here to upload EPUB file</small>\
                        </div>\
                    </div>\
                </div>';
   if(val == "EBook" || val == "Print and EBook")
   {
     ebookSection.html(elements);
     $('#tooltip-epub').tooltipster();
   }
   else
     ebookSection.html('');
};