var stepTwo = $("#sell-a-book-nav-step-2");
var stepThree = $("#sell-a-book-nav-step-3");
var pageLoadingDiv = "#loadingModal";

<% if @epub_not_uploaded.present? && @epub_not_uploaded %>
   bootbox.alert("You haven't uploaded an epub file yet!", function(result) { return; });
<% else %>
   <% if @error %>
      //console.log('errors section');
      var message = '<h2>Please correct the errors listed below.</h2>';
      <% @temporary_products.errors.full_messages.each do|msg| %>
          message += "<span style='color: #ff0000'>**</span> <%= j (msg) %>" + "</br>";
      <% end %>
      
      bootbox.alert(message, function(result) { return; });
   <% else %>
         /* Proceed to the review page */
        //load step two
        $(pageLoadingDiv).modal({backdrop: 'static', keyboard: false});
		setTimeout(function () {
			     stepTwo.removeClass("tmm-current").addClass("tmm-success");
			     stepThree.addClass("tmm-current");
			     $("#sell-a-book-nav-icon-3").removeClass("add-nav-margin-black").addClass("add-nav-margin-white");
			     $(pageLoadingDiv).modal('hide');
			     $("#sell-a-book-form-holder").html("<%= j (render 'merchants/partials/sell_a_book_step_3') %>");
	             $('#tooltipister').tooltipster();
		}, 2000); // in milliseconds
   <% end %>
<% end %>