<section class="panel panel-default set-book-cover-section-margin-top">
    <header class="panel-heading font-bold">Upload a cover image for your listing.<br/>
        <span class="header-instruction">Click on the thumbnail to upload a cover image (png and jpeg, maximum of 2MB) <a href="javascript:void(0)" id="tooltipister" title="Acceptable Image Size: 395px x 600px">[?]</a></span> </header>
    <div class="panel-body">
        <div class="col-sm-12">
            <div id="upload-cover-image-error" style="margin-top: 10px;"></div>
        </div>
        <div class="col-sm-12">
            <%= form_tag merchants_upload_cover_image_path, method: :post, class: "dropzone form", id: "cover-image" do %>
              <div class="fallback">
                <%= file_field_tag "media", multiple: true %>
              </div>
            <% end %>
        </div>
</div>
</section>