<section class="panel panel-default set-book-cover-section-margin-top">
    <header class="panel-heading font-bold">Upload a cover image for your listing.<br/>
        <span class="header-instruction">Click on the thumbnail to upload a cover image (png and jpeg, maximum of 2MB) <a href="javascript:void(0)" id="tooltipister" title="Acceptable Image Size: 395px x 600px">[?]</a></span> </header>
    <div class="panel-body">
        <p>Hello guys of the guys</p>
</div>
</section>