<section class="panel panel-default set-book-cover-section-margin-top">
    <header class="panel-heading font-bold">Upload a cover image for your listing.<br/>
        <span class="header-instruction">Click on the thumbnail to upload a cover image (png and jpeg, maximum of 2MB)</span></header>
    <div class="panel-body">
        <div class="col-sm-2">
            <div class="dropfile visible-lg"> 
                <small>Book Cover Image</small> 
            </div>
        </div>
        <div class="col-sm-10">
            <div class="dropfile visible-lg" style="cursor: pointer" onClick="MyBookshelfUtil.openCoverImageModal();"> <small>Click here to upload a cover image</small> 
            </div>
        </div>
</div>
</section>