<section class="scrollable wrapper">
   <div class="row">
         <div class="col-lg-12" style="margin-top: 20px; margin-bottom: 220px"> <!-- .accordion --> 
         	<div class="panel-group m-b" id="accordion2"> 
         		<div class="panel panel-default"> 
         			<div class="panel-heading"> 
         			<a class="accordion-toggle"> Congratulations! </a> 
         		   </div> 
         		   	<div class="panel-body text-sm"> You have successfully listed your book with Nigeria's best online bookstore. Your listing will be reviewed by our personnel and we will respond accordingly. <br/><br/>

         		   	Thank you for choosing MyBookshelf!<br/><br/>
         		   	<strong>Need Help? Please drop us an email on <%= company_profile.email %> or Call <%= company_profile.telephone %></strong> </div> 
         	   </div>
         	 </div>
      </div>
   </div>
</section>