<section class="panel panel-default set-book-cover-section-margin-top">
    <header class="panel-heading font-bold">Upload a cover image for your listing.<br/>
        <span class="header-instruction">Click on the thumbnail to upload a cover image (png and jpeg, maximum of 2MB) <a href="javascript:void(0)" id="tooltipister" title="Acceptable Image Size: 395px x 600px">[?]</a></span> </header>
    <div class="panel-body">
        <div class="col-sm-12">
            <div id="upload-cover-image-error" style="margin-top: 10px;"></div>
        </div>
        <div class="col-sm-12">
            <%= form_tag merchants_upload_cover_image_path, method: :post, class: "dropzone form", id: "cover-image" do %>
              <div class="fallback">
                <%= file_field_tag "media", multiple: true %>
              </div>
            <% end %>
        </div>

        <div class="col-sm-12">
           <div class="text-center" style="width: 100%; margin-top: 10px;">
                <span>
                    <%= image_tag "site/phototutorial.jpg", alt: "Photo Upload Tutorial", style: "margin: 0 3px 5px 10px;"  %>
                    <a href="javascript: void()" id="photo-guide-link" data-original-title="" title="">Photo Guidelines</a>
                </span>
                <span style="margin-left: 10px;"> | </span>
                <span>
                    <%= image_tag "site/videotutorial.jpg", alt: "Photo Upload Video Tutorial", style: "margin: 0 3px 5px 10px;"  %>
                    <a href="javascript: void()" id="image-tutorial" data-original-title="" title="">Image upload tutorial</a>
                </span>
                <br>
                <span class="text-disabled"><i class="glyphicon glyphicon-exclamation-sign text-danger"></i> Please follow these guidelines so your listing is not rejected</span>
        </div>
        </div>
</div>
</section>